.wishlist-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .wishlist-icon {
            width: 2.2rem;
            margin-right: 1rem;
            filter: invert(16%) sepia(99%) saturate(7468%) hue-rotate(333deg) brightness(100%) contrast(102%);
        }

        .wishlist-title {
            color: white;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;

        ::ng-deep search-results-item {
            margin-bottom: 2rem;
        }
    }
}